<div class="app-container">
    <header class="site-header">
        <nav class="navigation">
            <ul class="nav-list">
                <li><a href="#home">Home</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#portfolio">Portfólio</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </header>
   <body>
        <div class="site-container">
            <div class="text-content">
                <p>Olá, eu sou Jacquet Leme</p>
                <h1 style="color: rgba(229, 62, 168, .906)">Desenvolvedor Fullstack</h1>
            </div>
        </div>
        <div class="site-basic-info">
            <div class="about-me-text">
                <div class="vertical-bar"></div>
                <h1 style="color:rgba(229, 62, 168, .906)">Olá! Eu sou Jacquet Lemé.</h1>
                <p>Desenvolvedor apaixonado por tecnologia e inovação, atualmente cursando o 7º período de Ciência da Computação. Com uma sólida experiência em C#, TypeScript, e Angular, já tive a oportunidade de trabalhar em diversos projetos, desde a construção de aplicações web dinâmicas até a implementação de APIs robustas.
        
                    Estou sempre em busca de aprender novas tecnologias e aprimorar minhas habilidades, com foco em entregar soluções eficientes e de alta qualidade. No meu tempo livre, gosto de explorar novas ferramentas e frameworks que possam me ajudar a crescer como profissional e tornar meus projetos ainda mais impactantes.
                    
                    Neste portfólio, você encontrará uma seleção dos meus trabalhos mais recentes, onde apliquei meu conhecimento técnico e criatividade para resolver problemas e criar experiências digitais envolventes.
                </p>
            </div>
        </div>        
   </body>
</div>
